body
{
  height: 400px;
  position: relative;
  width: 400px;
  margin: 0px;
  background-color:#C6E4FF
}


.btn-vert-block {
  margin-top: 10px;
  position: absolute;
}

.view-container {
  position: absolute;
}


input[readonly] {
     cursor: initial !important;
     text-align: center;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  color: green;
  font-size:2em;
  cursor: pointer;
  vertical-align: bottom;
  position: absolute;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.left-addon.glyphicon {
  left: 0px;
}

.right-addon.glyphicon {
  right: 0px;
}


.inner-addon input {
  padding-left: 35px;
  padding-right: 35px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  overflow: hidden;
}

#my-wrapper {
  width: 100%;
  position: relative;
}

#child1 {
  float: left;
  position: relative;
  width: 250px;
  height: 100%;
}

#child2 {
  float: left;
  position:relative;
  height: 100%;
  width: calc(100% - 250px);
}


@media(max-width:1050px) {
  #main-container {
    left: 0px;
  }
}

@media(max-height:600px) {
  #main-container {
    top: 0px;
  }
}

.left {
    float: left;
}


#left-area {
    width: calc(100% - 300px);
    float: left;
    margin-right: -200px;
    position:absolute;
    padding-right: 10px;
}

#right-area{
    left: calc(100% - 300px);
    float: right;
    padding: 0 10px;
}


#my-wrapper  {
    line-height:4em;
    font-family: Open Sans, Arial, Sans Serif;
    font-weight: 300;
}

#carouselButtons {
    top: -1px;
}

#myCarousel {
    padding: 0px 60px;
    min-width: 400px;
}

#carouselButtons .glyphicon {
    top: 0px;
}

.navbar {
    display: none;
}


#cube-container {
    height: 600px;
    width: 800px;
}

canvas {
    height: 100%;
    width: 100%;
}

#big-main-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px 100px 100px 100px;
}

#main-container {
    height: 100%;
    min-width: 600px;
    max-width: 1000px;
}


#github-banner img {
    z-index: 100;
}

.navbar {
    z-index: 1;
}

.navbar-toggle {
    display: none;
}

#beach-headshot {
    width: 130px;
    margin: 20px 0px 0px 40px;

}

#child1 .sidebar-brand {
    height: 100%;
}

#child1 #sidebar-wrapper {
    background-color: 673636;
}

@media (max-width: 990px){
    .navbar {
        display: block;
    }
    #child1 {
        display: none;
    }
    #child2 {
        width: 100%;
    }
}

@media (max-width: 800px){
    #right-area {
        float: none;
        width: 80px;
    }
    #main-container { min-width: 0px; }
}