<html>
<head>
	<title>Rubik's Cube</title>
	<style>
		body { margin: 0; }
	</style>

</head>
<body>

	<div class="view-container">
		<div class="row">
			<div class="col-sm-12 btn-vert-block">
				<span>
					<button ng-click="scramble()" type="button" class="btn btn-primary btn-block" id="btn_scramble">Scramble</button>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 btn-vert-block">
				<span>
					<button ng-click="reset()" type="button" class="btn btn-danger btn-block center-block" id="btn_reset">Reset</button>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 btn-vert-block">
				<div class="inner-addon">
					<span ng-click="decrement()" class="left-addon glyphicon glyphicon-minus my-glyph"></span>
					<span ng-click="increment()" class="right-addon glyphicon glyphicon-plus my-glyph"></span>
					<input type="number" class="form-control" value="{{ dimension }}" readonly="readonly"/>
				</div>
			</div>
		</div>
	</div>

</body>

</html>